# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Environment
.env
.env.local

# Dependencies
node_modules/
vendor/

# Logs
*.log

# Product images
/admin/uploads/produk/*
!/admin/uploads/produk/.gitkeep

# Payment proofs
/uploads/pembayaran/*
!/uploads/pembayaran/.gitkeep
